<div class="page-header">
    <h1>Post</h1>
</div>

<%= render @post %>

<%= link_to "Home", posts_path, class: "btn btn-default" %>

<h3>Comments:</h3>
<%= render @post.comments %>
<h4>New Comment:</h4>
<%= form_for @post.comments.build do |c| %>
    <div class="form-group">
        <%= c.label :body %>
        <%= c.text_area :body, class: "form-control" %>
    </div>
    <%= c.hidden_field :post_id %>
    <%= c.submit class: "btn btn-primary" %>
<% end %>
