<!-- creates a new partial 158 -->
<%= form_for @text_post do |t| %>
    <!-- post the title -->
    <div class="form-group">
        <%= t.label :title %>
        <%= t.text_field :title, class: "form-control" %>
    </div>

    <!-- text body -->
    <div class="form-group">
        <%= t.label :body %>

        <%= t.text_area :body, class: "form-control" %>
    </div>
    <%= t.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', :back, class: "btn btn-default" %>
<% end %>

<!-- p5.js shit -->
<p></p><p></p>
<button type="button" id="voice_to_title">Record Title</button>
<button type="button" id="voice_to_body">Record Body</button>
<script type="text/javascript">
    var recordTitle = $('#voice_to_title');
    var recordBody = $('#voice_to_body');
    var buttonId = 1;

    function voiceToText () {
        var myRec = new p5.SpeechRec();
        myRec.onResult = showResult;
		myRec.start();

    	function showResult(){
            if(myRec.resultValue==true) {
                if (buttonId === 1) {
                    console.log(myRec.resultString);
                    $('#text_post_title').val(myRec.resultString);
                }
                else if (buttonId === 2) {
                    console.log(myRec.resultString);
                    $('#text_post_body').val(myRec.resultString);
                }
                else {
                    console.log("We have recording issues, boss.");
                }
            }
        }
    }
    $(recordTitle).click(function() {
        buttonId = 1;
        voiceToText();
    });
    $(recordBody).click(function() {
        buttonId = 2;
        voiceToText();
    });
</script>
