<!-- a partial -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= image_post.title %>
        </h3>
        <!-- <%= link_to("#{time_ago_in_words image_post.created_at} ago", post_path(image_post)) %> -->
        <%= "#{time_ago_in_words image_post.created_at} ago" %>
    </div>

    <div class="panel-body">
        <p><em>By <%= link_to image_post.user.name, image_post.user %></em></p>

        <!-- img-responsive Makes an image responsive (will scale nicely to the parent element) -->
        <%= image_tag image_post.url, class: "img-responsive" %>

        <!-- -->
        <%= image_post.body %>

        <!-- 253 Only show edit if it is the current user -->
        <% if image_post.user == current_user %>
            <p>
                <!-- ex: link_to 'Edit', edit_text_post_path(text_post) generates HTML link:
                    <a href="/text_posts/(id)/edit/">Edit</a> -->
                <%= link_to 'Edit', edit_image_post_path(image_post),
                                                    class: "btn btn-default" %>
            </p>
        <% end %>
    </div>
</div>
